@model MediCenter3.Models.SUCURSALES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUCURSALES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SUCURSAL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
